body {background-color: #eaeaea;}

article {
    background-color: inherit;
    padding: 4px;
}

nav{
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: white;
    border-radius: 2vw;
}

header{
    background-color:#fadb64;
    height: 17vh;
}

img{
    height: 16vh;
    padding: 0px;
    white-space: nowrap;
}

p {
    text-indent: 2em;
}

.citations{
    padding-left: 2em;
    text-indent: -2em;
}

table, th, td {
    border: 1px solid black;
}

.articles   {
    width: 95vw;
    height: 20vh;
    font-family: sans-serif;
    font-size: 20px;
}

.aimg{
    float: left;
    margin-right: 2vw;
}

.claim{
    background-color: white;
    border-radius: 2vw;
    overflow: hidden;
    margin-bottom: 2vh;
}

.inclaim{
    font-family: sans-serif;
    text-indent: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
}

img.inclaim{
    float: right;
}


.footerlink{
    color: black;
    font-family: sans-serif;
    font-size: 14pt;
    margin-left: 2vw;
}

.footerlink:visited{
    color: black;
}

.footerlink:hover{
    color: black;
}

.footerlink:active {
    color: black;
}
